@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
   font-family: 'Poppins', sans-serif !important;
}

a {
   color: #ece5c7;
}

.logo {
   width: 4vw;
}

@media screen and (max-width: 600px) {
   .logo {
      width: 10vw;
   }
}
