.main-grid {
   display: flex;
   margin: 0 auto;
   width: 100%;
   flex-wrap: nowrap;
}
@media (max-width: 599px) {
   .main-grid {
      height: 720px;
      flex-direction: column;
   }
}

.grid-column {
   position: relative;
   flex-grow: 1;
   transition: flex-grow 0.5s ease-in-out;
   background-color: #313740;
   overflow: hidden;
}
@media (max-width: 599px) {
   .grid-column {
      height: 100%;
      flex-grow: 0;
   }
}

.grid-column::after {
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.418);
}

.grid-column:nth-of-type(2) {
   /* background-image: url('https://i.postimg.cc/13RwRzXM/a.jpg'); */
   background-color: #fff;
   background-position: center top;
   background-size: cover;
   filter: sepia(100%);
}
@media (max-width: 599px) {
   .grid-column:nth-of-type(2) {
      background-size: cover;
      background-repeat: no-repeat;
   }
}

.grid-column:nth-of-type(3) {
   /* background-image: url('https://i.postimg.cc/26WB9b9j/b.jpg'); */
   background-color: #777;
   background-position: center top;
   background-size: cover;
   filter: sepia(100%);
}
@media (max-width: 599px) {
   .grid-column:nth-of-type(3) {
      background-size: cover;
      background-repeat: no-repeat;
   }
}

.grid-column:nth-of-type(4) {
   /* background-image: url('https://i.postimg.cc/0NFwCdfH/c.jpg'); */
   background-color: rgb(202, 200, 45);
   background-position: center top;
   background-size: cover;
   filter: sepia(100%);
}
@media (max-width: 599px) {
   .grid-column:nth-of-type(4) {
      background-size: cover;
      background-repeat: no-repeat;
   }
}

.grid-column:nth-of-type(5) {
   /* background-image: url('https://i.postimg.cc/vZP94d6y/d.jpg'); */
   background-position: center top;
   background-size: cover;
   filter: sepia(100%);
}
@media (max-width: 599px) {
   .grid-column:nth-of-type(5) {
      background-size: cover;
      background-repeat: no-repeat;
   }
}

.text-stuff {
   display: flex;
   height: 100%;
   justify-content: space-between;
   z-index: 2;
}
.text-stuff h1 {
   font-family: 'Epilogue', sans-serif;
   align-self: flex-end;
   font-size: 5rem;
   color: white;
}
@media (max-width: 599px) {
   .text-stuff h1 {
      font-size: 3rem;
   }
}
.text-stuff p {
   font-family: 'Epilogue', sans-serif;
   align-self: flex-end;
   font-size: 2.5rem;
   text-transform: uppercase;
   writing-mode: vertical-rl;
   transform: rotate(-180deg);
   color: white;
   margin-right: 20px;
   margin-bottom: 10px;
}
@media (max-width: 599px) {
   .text-stuff p {
      font-size: 1.3rem;
   }
}

.grid-column:hover {
   filter: sepia(0%);
}

.description {
   position: relative;
   opacity: 0;
   width: 0;
   margin-top: 100px;
   padding: 50px;
}
@media (max-width: 599px) {
   .description {
      padding: 10px 60px 10px 60px;
      margin-top: 50px;
   }
}

.description::after {
   content: '';
   position: absolute;
   border-radius: 25px;
   display: block;
   height: 100%;
   top: 0;
   left: 0;
   width: 100%;
   z-index: -1;
   background-color: rgba(0, 0, 0, 0.418);
}

.title-movie {
   font-family: 'Epilogue', sans-serif;
   font-size: 4rem;
   color: white;
   opacity: 0;
}
@media (max-width: 599px) {
   .title-movie {
      font-size: 2rem;
   }
}

.title-description {
   font-size: 3rem;
   color: white;
   margin-bottom: 20px;
   opacity: 0;
}
@media (max-width: 599px) {
   .title-description {
      font-size: 1rem;
   }
}

.checked {
   color: orange;
}

.paragraph-movie {
   font-size: 1rem;
   letter-spacing: 3px;
   line-height: 30px;
   text-align: justify;
   color: white;
   margin-top: 20px;
}
@media (max-width: 599px) {
   .paragraph-movie {
      font-size: 1rem;
      line-height: 20px;
   }
}

.information-movie {
   display: flex;
   flex-wrap: nowrap;
   width: 100%;
   margin-top: 20px;
}

.clock {
   font-size: 1rem;
   color: white;
   margin-right: 10px;
}
@media (max-width: 599px) {
   .clock {
      font-size: 0.7rem;
   }
}

.close-description {
   position: absolute;
   right: 32px;
   top: 32px;
   width: 32px;
   height: 32px;
   opacity: 0;
   z-index: 1;
}
@media (max-width: 599px) {
   .close-description {
      right: 10px;
      top: 20px;
   }
}

.close-description:before,
.close-description:after {
   position: absolute;
   left: 15px;
   content: ' ';
   height: 50px;
   width: 4px;
   background-color: white;
}
@media (max-width: 599px) {
   .close-description:before,
   .close-description:after {
      height: 30px;
      width: 2px;
      left: 50px;
   }
}

.close-description:before {
   transform: rotate(45deg);
}

.close-description:after {
   transform: rotate(-45deg);
}

.arrows {
   position: absolute;
   pointer-events: none;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 1;
}
@media (max-width: 599px) {
   .arrows {
      flex-direction: column;
   }
}

.arrow {
   border: solid white;
   border-width: 0 3px 3px 0;
   display: inline-block;
   margin: 0 60px;
   padding: 15px;
}
@media (max-width: 599px) {
   .arrow {
      margin: 20px 0;
      padding: 5px;
   }
}

.right {
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
}
@media (max-width: 599px) {
   .right {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
   }
}

.left {
   transform: rotate(135deg);
   -webkit-transform: rotate(135deg);
}
@media (max-width: 599px) {
   .left {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
   }
}
