.projects {
   background-color: #cc9c75;
   padding-top: 3rem;
   padding-bottom: 3rem;
}
.flex1 {
   display: flex;
   justify-content: center;
}
.flex2 {
   display: flex;
   justify-content: center;
}
.proj-box {
   margin: 25px;
   width: 250px;
   height: 250px;
   background: #fff;
   border: solid black;
   border-color: black;
}

.proj-box1 {
   border-width: 3px 4px 3px 5px;
   border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
   transform: rotate(2deg);
}
.proj-box2 {
   /* width: 350px; */
   border-width: 3px 3px 5px 5px;
   border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
   transform: rotate(-2deg);
}

.proj-box3 {
   border-width: 5px 3px 3px 5px;
   border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
   transform: rotate(2deg);
}

.oddboxinner {
   margin: 15px;
   transform: rotate(-2deg);
}
.evenboxinner {
   transform: rotate(2deg);
   margin: 15px;
   padding: 0 5px;
   float: right;
   background: #ddd;
   border: 1px solid #222;
   box-shadow: 3px 3px 0 #222;
}
@media screen and (max-width: 600px) {
   .proj-box {
      margin: 25px;
      width: 250px;
      height: 250px;
      background: #fff;
      border: solid black;
      border-color: black;
      margin-left: 4rem;
   }
   .flex1 {
      display: inline-block;
   }
   .flex2 {
      display: inline-block;
   }
}
